body {
    font-family: Arial, sans-serif;
    background-color: #7b08ff;
    margin: 0;
    padding: 0;
}

.about {
    padding: 20px;
    text-align: center;
}

.scroll {
    margin: 0 auto;
}

/* Стили для кнопок */
.center-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Белые кнопки */
.center-buttons .button {
    background: #ffffff; /* Белый фон */
    color: #000000; /* Черный текст */
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    flex: 0 1 calc(16.66% - 10px); /* 6 кнопок в ряду */
    box-sizing: border-box;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.button:hover {
    background: #f0f0f0; /* Легкий серый фон при наведении */
    color: #000000; /* Черный текст при наведении */
    transform: scale(1.05);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .center-buttons .button {
        flex: 0 1 calc(50% - 10px); /* По 2 кнопки в ряд на мобильных */
    }
}

/* Стили для картинки */
.main-image {
    max-width: 100%; /* Ширина картинки не больше ширины контейнера */
    height: auto; /* Высота автоматически сохраняется в пропорциях */
    margin-top: 20px; /* Отступ сверху */
}
