{% extends 'base.html' %}

{% block title %}
Меню арены
{% endblock %}

{% block body %}
<div class="about">
    <div class="scroll">
        <div class="top-buttons">
            {% for i in range(4) %}
                <a href="#" class="button">Верхняя кнопка {{ i + 1 }}</a>
            {% endfor %}
        </div>
        
        <div class="center-container">
            {% for i in range(12) %}
                <a href="#" class="button">Кнопка {{ i + 1 }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
