{% extends 'base.html' %}

{% block title %}
Бой 1 против всех
{% endblock %}

{% block body %}
<div class="battle">
    <div class="hero-left">
        <img src="path_to_left_hero_image" alt="Герой слева">
        <p>{{ hero1_name }}: Здоровье - {{ hero1_health }}</p>
    </div>

    <div class="hero-right">
        <img src="path_to_right_hero_image" alt="Герой справа">
        <p>{{ hero2_name }}: Здоровье - {{ hero2_health }}</p>
    </div>

    <div class="action-button">
        <form action="{{ url_for('battle_view') }}" method="post">
            <button type="submit" name="skill" value="Мощный удар" class="button">Прием</button>
        </form>
    </div>

    <!-- Отображаем результаты хода -->
    {% if result_p1 and result_p2 %}
    <div class="battle-result">
        <p>{{ result_p1 }}</p>
        <p>{{ result_p2 }}</p>
    </div>
    {% endif %}

    <!-- Проверка на конец боя -->
    {% if battle_result %}
    <div class="battle-end">
        <p>{{ battle_result }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}
