{% extends 'base.html' %}

{% block title %}
Главное меню
{% endblock %}

{% block body %}
<div class="about">
    <div class="scroll">
        <img src="{{ url_for('static', filename='css/1.png') }}" class="main-image" alt="Main Image">
        <div class="center-buttons">
            <a href="#" class="button">Кнопка 1</a>
            <a href="#" class="button">Кнопка 2</a>
            <a href="#" class="button">Кнопка 3</a>
            <a href="#" class="button">Кнопка 4</a>
            <a href="#" class="button">Кнопка 5</a>
            <a href="#" class="button">Кнопка 6</a>
            <a href="#" class="button">Кнопка 7</a>
            <a href="#" class="button">Кнопка 8</a>
            <a href="#" class="button">Кнопка 9</a>
            <a href="#" class="button">Кнопка 10</a>
            <a href="#" class="button">Кнопка 11</a>
            <a href="#" class="button">Кнопка 12</a>
        </div>
    </div>
</div>
{% endblock %}
