{% extends 'base.html' %}

{% block title %}
Главное меню
{% endblock %}

{% block body %}
<div class="about">
    <div class="scroll">
        <img src="{{ url_for('static', filename='css/1.png') }}" class="main-image" alt="Main Image">
        <div class="center-buttons">
            <a href="#" class="button">Персонаж</a>
            <a href="#" class="button">Инвентарь</a>
            <a href="#" class="button">Дом</a>
            <a href="#" class="button">Арена</a>
            <a href="#" class="button">Магазин</a>
            <a href="#" class="button">Добыча ресурсов</a>
            <a href="#" class="button">Производство</a>
            <a href="#" class="button">Рынок</a>
            <a href="#" class="button">Корпорация</a>
            <a href="#" class="button">Локация</a>
            <a href="#" class="button">Рейтинг</a>
            <a href="#" class="button">Кнопка 12</a>
        </div>
    </div>
</div>
{% endblock %}
